<div class="aws-content">
  <div class="aws-coaching-body">
    <div class="container service-item" *ngFor="let booking of allBookingOrders">
      <div class="row">
        <div class="col-sm-2">
          <img src="{{booking.imageUrl}}">
        </div>
        <div class="col-sm">
          <h5>{{booking.name}}</h5>
          <p>Price: {{booking.price}}</p>
          <p>Purchased date: {{booking.purchasedDate}}</p>
          <p>Meeting time: {{!!booking.time? booking.time : 'No time scheduled yet'}}</p>
          <p>Meeting date: {{!!booking.scheduledDate? booking.scheduledDate : 'No date scheduled yet'}}</p>
        </div>
      </div>
      <!-- <div class="aws-button-center-position">
        <a>Book Now</a>
      </div> -->
    </div>
  </div>
</div>
