<div class="aws-content">
  <h2>My Booking</h2>
  <p class="booking-guide">
    Please contact the business and <i>provide order id and user information</i> if you would like to cancel a section.
    <b>Note that you can not cancel a section 24 hours before the scheduled date.</b>
  </p>
  <div class="filter-heading">
    <div class="row" >
      <div class="col-sm-2">
          <h6>Filter By</h6>
      </div>
      <div class="col-sm-3">
        <select class="aws-select-options" (change)="setFilterCategory($event)">
          <option value="" selected>Pick an option to filter</option>
          <option value="service">Service</option>
          <option value="price">Price</option>
          <option value="meetingDate">Meeting Date</option>
          <option value="purchasedDate">Purchased Date</option>
        </select>
      </div>
      <!--Product filter-->
      <div class="col-sm-3" *ngIf="isCategoryChosen">
        <select class="aws-select-options" (change)="setfilterOptions($event)" *ngIf="(filterCategory === 'service')">
          <option value="all" selected>All products</option>
          <option value="{{service.name}}" *ngFor="let service of serviceTypeArr">{{service.name}}</option>
        </select>
        <select class="aws-select-options" (change)="setfilterOptions($event)" *ngIf="(filterCategory !=='service')">
          <option value="all" disable selected>Choose a filter order</option>
          <option value="asc">Asc</option>
          <option value="desc">Desc</option>
        </select>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-outline-secondary"
        *ngIf="isCategoryChosen && (filterCategory !== '')" (click)="onSort()">
          Submit
      </button>
      </div>
    </div>
  </div>

  <div class="aws-coaching-body">
    <div class="container service-item" *ngFor="let booking of filterArray">
      <div class="row">
        <div class="col-sm-2">
          <img src="{{booking.imageUrl}}">
        </div>
        <div class="col-sm">
          <h5>{{booking.name}}</h5>
          <div class="row">
            <div class="col-sm-5">
              <p><b>Order Id: </b> {{booking.orderId}}</p>
              <p><b>Meeting date: </b> {{booking.scheduledDate? booking.scheduledDate : '--'}}</p>
              <p><b>Purchased date:</b> {{booking.purchasedDate}}</p>
            </div>
            <div class="col-sm-5">
              <p><b>Price:</b> {{booking.price}}</p>
              <p><b>Meeting time: </b> {{ booking.time? (booking.time|time24To12) : '--' }} </p>
              <p *ngIf="userAuthService.currentUser.role === 'admin'"><b>Purchased By: </b>{{getBuyerName(booking.userUID)}}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="userAuthService.currentUser.role === 'admin'">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-secondary text-center mr-3"
            data-target="#updateMeetingModal" data-toggle="modal" (click)="passBookingInfoForModal(booking)">
            Update Meeting Time
          </button>
          <button type="button" class="btn btn-outline-danger text-center"
            data-target="#deleteSessionModal" data-toggle="modal" (click)="passBookingInfoForModal(booking)">
            Delete Session
          </button>
        </div>
        <!-- Delete Session Modal -->
        <div class="modal fade" id="deleteSessionModal" tabindex="-1" role="dialog" aria-labelledby="deleteSessionModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete a session?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Click "Delete if you would like to delete a section. Otherwise, please click Close to cancel"
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger" (click)="deleteOrder()" data-dismiss="modal">Delete</button>
              </div>
            </div>
          </div>
        </div>

        <!--Edit Session Modal-->
        <div class="modal fade" id="updateMeetingModal" tabindex="-1" role="dialog" aria-labelledby="updateMeetingModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update meeting date and time</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body update-meeting-body">
                <form [formGroup]="updateSessionForm">
                  <div class="form-group">
                    <label for="meetingDate" class="col-form-label">Meeting date</label>
                    <div class="col-10">
                      <input class="form-control" type="date" id="meetingDate" name="meetingDate" formControlName="meetingDate">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="meetingTime" class="col-2 col-form-label">Time</label>
                    <div class="col-10">
                      <input class="form-control" type="time" id="meetingTime" name="meetingTime" formControlName="meetingTime">
                    </div>
                  </div>
                  <div class="float-right">
                    <button type="button" class="btn btn-primary mr-3" data-dismiss="modal"
                    [attr.disabled]="(isNotNullOrEmpty(meetingDate) && isNotNullOrEmpty(meetingTime))? null : true"
                    (click)="updateSessionInfo()">
                      Send user updated time
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

