@import "src/scss/styles.scss";
.aws-home-container {
    background-image: url("../../assets/images/home.png");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}
.aws-home-content {
    width: 100%;
    height: 50vh;

    h1 {
        font-size: 36px;
        padding: 5% 0% 3% 5%;
    }
    p{
        padding: 0% 9% 3% 9%;
    }
    button {
        padding: 1%;
        border-radius: 5px;
        border: none;
        background-color: $navbarBackgroundColor;
        color: white;
        &:hover, &:active, &:focus {
            background-color: darken($navbarBackgroundColor,10%);
        }
    }
}

.aws-button-center-position {
    display: flex;
    justify-content: center;
}