<div class="aws-home-container">
    <div class="aws-home-content">
        <h1>Welcome to Awesome Fat, LLC</h1>
        <p>There are many variations of passages of Lorem Ipsum available,
             but the majority have suffered alteration in some form, by injected humour,
              or randomised words which don't look even slightly believable. If you
              are going to use a passage of Lorem Ipsum, you need to be sure there isn't
               anything embarrassing hidden in the middle of text. All the Lorem Ipsum
               generators on the Internet tend to repeat predefined chunks as necessary,
               making this the first true generator on the Internet. It uses a dictionary
               of over 200 Latin words, combined with a handful of model sentence structures,
               to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
               therefore always free from repetition, injected humour, or non-characteristic
               words etc.
        </p>
        <div class="aws-button-center-position">
            <a [routerLink]="['/contact-us']">Contact Us Now</a>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="aws-footer">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3 vertical-line">
        <h4>Awesome Fat LLC</h4>
        <p>INFO@AWESOMEFAT.COM</p>
        <p>11431 N. Port Washington Road Mequon, WI 53092</p>
        <p>+262-353-6205</p>
      </div>
      <div class="col-md-6 mt-md-0 mt-3 aws-custom-footer-padding">
        <div class="fa-2x">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin"></i>
        </div>
        <p>© 2013 Awesomefat</p>
        <p>All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
