<nav class="navbar navbar-expand-lg aws-navbar navbar-light">
  <a [routerLink]="['/home']" class="navbar-brand aws-logo" href="#">
    <img src="../../../assets/images/nav-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Awesome Fat
  </a>
  <button class="navbar-toggler aws-hamburger-button" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto aws-nav-items">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/about-me']">About me</a>
      </li>
      <div class="dropdown">
        <button class="dropdown-toggle nav-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/services/app-dev']">Application Development</a>
          <a class="dropdown-item" [routerLink]="['/services/coaching']">Coaching/ Consulting</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropdown-toggle nav-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Review
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item">Food Review</a>
        </div>
      </div>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact-us']">Contact Us</a>
      </li>
      <li class="nav-item" *ngIf="!userAuthService.isAuthenticated()">
        <a class="nav-link" [routerLink]="['/log-in']">Log in</a>
      </li>
      <div class="dropdown" *ngIf="userAuthService.currentUser">
        <button class="dropdown-toggle nav-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome {{userAuthService.currentUser.firstName}}
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" [routerLink]="['/my-account/booking']">My account</a>
          <a class="dropdown-item" (click)="onLogOut()">Log out</a>
        </div>
      </div>
    </ul>
  </div>
</nav>
