/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$navbarBackgroundColor: #403933;
$aws-font:"Open Sans MS", "Open Sans", cursive;

//use for sign in and contact us
.form-group {
  margin-bottom: 2em;
  label {
    color: white;
    width: 15%;
    display: inline-block;
  }
}

//submit button
.aws-submit-button {
  text-align: center;
  margin-top: 5%;
  button {
    padding: .9%;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #565251;
    color: white;
    &:hover, &:active, &:focus {
        background-color: darken($navbarBackgroundColor,10%);
    }
  }
}

.aws-button-center-position {
  display: flex;
  justify-content: center;
  a{
    text-decoration: none;
  }
}

.aws-back-button {
  margin: 3% 91% 3% 3%;
  font-size: 1.5em;
  i {
    margin-right: 1%;
  }
  &:focus {
    outline: 0;
  }
}

//form error feedback
.is-invalid ~ .invalid-feedback {
  display: contents;
}


//vertical navbar and the content style for about-me and my-account
.aws-vertical-navbar {
  width:250px;
  height: 100%;
  position: fixed;
  background-color: lighten($navbarBackgroundColor, 20%);
  top: 0px;
  color: white;
  .list-group {
      .list-group-item {
          text-decoration: none;
          display: block;
          padding: 3% 0% 3% 7%;
          font-style: normal;
          color: white;
          background-color: lighten($navbarBackgroundColor, 15%);
          &:active, &:hover, &:focus {
              background-color: lighten($navbarBackgroundColor, 10%);
          }

      }
      .list-group-item-action {
          border: none;
      }
      .active {
          background-color: lighten($navbarBackgroundColor, 10%);
      }
  }
  img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      margin: 25% auto 10% auto;
      display: block;
  }
  h5 {
      margin: 0% auto 20% auto;
      text-align: center;
  }
}
.aws-content {
  padding: 0% 3% 0% 23%;
  @media (max-width: 1216px) {
      padding-left: 25%;
  }
  @media (max-width: 1060px) {
      padding-left: 260px;
  }
  h2 {
    margin-bottom: 3%;
    font-weight: 100;
  }
  p {
    padding: 0% 5% 0% 5%;
  }

}

//toaster
#toast-container {
  .toast-success{
    background-color: #D4EDDA;
    color:darken(#D4EDDA, 50%);
    background-image: none;
  }
  .toast-error{
    background-color: #F8D7DA;
    color:darken(#F8D7DA, 50%);
    background-image: none;
  }
  .toast-info{
    background-color: #FFF3CD;
    color:darken(#FFF3CD, 50%);
    background-image: none;
  }

}


