/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$navbarBackgroundColor: #403933;
$aws-font:"Open Sans MS", "Open Sans", cursive;

//use for sign in and contact us
.form-group {
  margin-bottom: 2em;
  label {
    color: white;
    width: 15%;
    display: inline-block;
  }
}

.aws-submit-button {
  text-align: center;
  margin-top: 5%;
  button {
    padding: .9%;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #565251;
    color: white;
    &:hover, &:active, &:focus {
        background-color: darken($navbarBackgroundColor,10%);
    }
  }
}

.is-invalid ~ .invalid-feedback {
  display: contents;
}
