<div class="aws-back-button" [routerLink]="['/services/coaching']">
  <i class="fas fa-chevron-left"></i>
  <a>Back</a>
</div>
<div class="container service-item" *ngIf="service">
  <h4>{{service.name}}</h4>
  <div class="row">
    <div class="col-sm-2">
      <img src="{{service.imageUrl}}">
    </div>
    <div class="col-sm-7">
      <p>{{service.detail}}</p>
    </div>
    <div class="col-sm aws-price-box aws-addToCart-button">
      <p>Price: {{service.price}} dollars per hour</p>
      <button id="addToCartId" data-toggle="modal" data-target="#exampleModal" (click)="openCartModal()">Add to cart</button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="userAuthService.isAuthenticated()">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Do you want to add {{service.name}} service to cart? </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Click "Add" to book the service. Click "Cancel" to close the modal
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button (click)="addToCart()"type="button" class="btn btn-primary" data-dismiss="modal">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div></div>
  </div>
</div>




