<div class="aws-back-button" [routerLink]="['/services/coaching']">
  <i class="fas fa-chevron-left"></i>
  <a>Back</a>
</div>
<div class="container service-item" *ngIf="service">
  <h4>{{service.name}}</h4>
  <div class="row">
    <div class="col-sm-2">
      <img src="{{service.imageUrl}}">
    </div>
    <div class="col-sm-7">
      <p>{{service.detail}}</p>
    </div>
    <div class="col-sm aws-price-box aws-addToCart-button">
      <p>Price: {{service.price}} dollars per hour</p>
      <button id="addToCartId" data-toggle="modal"(click)="addToCart()">Add to cart</button>
    </div>
  <div></div>
  </div>
</div>




