<div class="shopping-cart">
  <div>
    <button>
      <i class="fa">&#xf07a;</i>
      <span class='badge badge-warning' id='lblCartCount'> 5 </span>
    </button>
  </div>
</div>
<div class="aws-coaching-container aws-coaching-header">
  <p>Coaching and Consulting Service</p>
</div>
<div class="aws-coaching-body">
  <div class="container service-item" *ngFor="let service of coachingServiceArr">
    <div class="row">
      <div class="col-sm-2">
        <img src="{{service.imageUrl}}">
      </div>
      <div class="col-sm">
        <h5>{{service.name}}</h5>
        <p>{{service.detail}}</p>
      </div>
    </div>
    <div class="aws-button-center-position">
      <a [routerLink] = "['/services/coaching',service.id]">Book Now</a>
    </div>
  </div>
</div>


