@import "src/scss/styles.scss";
body{
	position: relative; /* required */
}
.aws-about-me-container {
    width: 100%;
    background-color: #f2f2f2;
    font-family: $aws-font;
}

.aws-vertical-navbar {
    width:250px;
    height: 100%;
    position: fixed;
    background-color: lighten($navbarBackgroundColor, 20%);
    top: 0px;
    color: white;
    .list-group {
        .list-group-item {
            text-decoration: none;
            display: block;
            padding: 3% 0% 3% 7%;
            font-style: normal;
            color: white;
            background-color: lighten($navbarBackgroundColor, 15%);
            &:active, &:hover, &:focus {
                background-color: lighten($navbarBackgroundColor, 10%);
            }

        }
        .list-group-item-action {
            border: none;
        }
        .active {
            background-color: lighten($navbarBackgroundColor, 10%);
        }
    }
    // .nav-item {
    //     list-style-type: none;
    //     .nav-link {
    //         text-decoration: none;
    //         display: block;
    //         padding: 3% 0% 3% 7%;
    //         font-style: normal;
    //         color: white;
    //         background-color: lighten($navbarBackgroundColor, 15%);
    //         &:hover, &:active, &:focus {
    //             background-color: lighten($navbarBackgroundColor, 10%);
    //         }
    //     }
    // }
    img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 25% auto 10% auto;
        display: block;
    }
    h5 {
        margin: 0% auto 20% auto;
        text-align: center;
    }
}

.aws-content {
    padding: 0% 3% 0% 23%;
    @media (max-width: 1216px) {
        padding-left: 25%;
    }
    @media (max-width: 1060px) {
        padding-left: 260px;
    }

}

.aws-heading {
    padding: 2% 0% ;
}

.aws-content-img {
    width: 300px;
    height: 300px;
    float: right;
    margin: 2%;
}

.aws-para-margin {
    margin: 3%;
    border: 1px solid black;
}
